body {
	font-family: 'Helvetica', sans-serif;
}

.bar {
	color: rgb(255, 255, 255);
	background: rgb(0, 139, 255);
	text-align: right;
	padding: 2px 5px;
	margin-bottom: 3px;
}

.svg-chart rect {
	fill: rgb(0, 139, 255);
}

.svg-chart text {
	fill: #FFF;
	text-anchor: end;
}

.block {
	padding: 10px 0; 
	display: block;
}