body {
	font-family: 'Helvetica', sans-serif;
}

.bar {
	color: rgb(255, 255, 255);
	background: rgb(0, 139, 255);
	text-align: right;
	padding: 2px 5px;
	margin-bottom: 3px;
}

.chart rect {
	fill: rgb(0, 139, 255);
}

.chart, text {
	fill: #FFF;
}

.svg-chart, text {
	text-anchor: end;
}

.svg-vertical-chart text {
	text-anchor: middle;
}

.svg-vertical-rangeband-chart text {
	text-anchor: middle;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
	fill: #000;
	font-size: 12px;
}

.x.axis path {
  display: none;
}


.block {
	padding: 10px 0; 
	display: block;
}

rect.bananas {
	fill: yellow;
}

rect.oranges {
	fill: orange;
}

rect.apples {
	fill: red;
}

rect.carrots {
	fill: purple;
}



